apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app-deployment-ansible
  labels:
    app: flask
spec: 
  replicas: 3
  selector:
    matchLabels:
      app: flask
  template: 
    metadata:
      labels:
        app: flask
    spec: 
      containers:
        - name: fask
          image: kamelnaitslimani/flask-app:{{version}}
